
img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 90px;
    left: 0;
}


h1{
    background-color: #4aaaa5;
    color: white;
    font-size: 30px;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    width: 200px;
    height: 30px;
    text-align: center;
    padding: 30px;
    float: left;
    margin-left: 200px;
    z-index: 2;
}

#navbar{
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    word-spacing: 35px;
    margin-right: 200px;
    margin-top: 30px;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#aboutme{
    clear: both;
    background-color: white;
    width: 960px;
    text-align: center;
    position: relative;
    top: 40px;
    left: 20%;
}

#me {
    position:absolute;
    top: 150px;
    left: 15px
}
#text {
    text-align: left;
    height: 270px;
    margin: 20px 20px 0px 320px;
    padding: 125px 20px 0px 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px
}

#text2 {
    text-align: left;
    margin: 0px 20px 20px 20px;
    padding: 0px 20px 20px 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px 
}